* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.lead {
    margin-top: 100px;
}
.app {
    width: 100%;
}
div {
    width: 100%;
}
.btn {
    color: green;
}
main {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
}